<br>
<br>
<br>
<div class="jumbotron jumbotron-fluid mb-0">
		<div class="container center">
			<br>
			<br>
			<br>
			<div class="update center">
			<p>Find:
			Creat properties and select apartment favorites<i class="fas fa-chevronright"></i>
			</p>
			</div>
			<h1>Welcome to URHOUSE.com</h1>
			<br>
			<p>Finding a home and rent apartment properties.</p>
			
			<%= render 'partials/filter' %>

		</div>
</div>




